.box {
    padding:5px;
    height: 215px;
    text-align: center;

}

i:hover{
    transition-duration: 0.8s;
    font-size:130px !important;
}

.box:nth-child(even) {
    background-color: #ccc;
}

.box:nth-child(odd) {
    background-color: #AAA;
}

/* .box:nth-child(2n+1) {
    background-color: #AAA;
  } */